[2016-10-11 08:58] okisetiawan0101 opened #1 "State Progress Bar can not have more than four state"
How to make State Progress Bar with more than 4 state?

[2016-10-11 09:17] kofigyan commented on #1
This feature will be added in version 0.0.2 of StateProgressBar. Version
0.0.2 coming soon.
On 11 Oct 2016 08:58, "Oki Setiawan" notifications@github.com wrote:

[2017-01-02 14:04] amitsri20 opened #2 "Issue while setting Current state number dynamically"
I am trying to set current state number dynamically but it is not showing correct result while when I set in XML file it works fine.

I have used
stateProgressBar.setCurrentStateNumber(StateProgressBar.StateNumber.TWO);

after removing app:spb_currentStateNumber="two" from XML file.

See the result below current description is showing correctly but progress line is going to opposite direction.

![

[2017-01-03 09:32] kofigyan commented on #2
Hi Amit, I have tried to reproduce similar result with all possible scenarios but all work fine on multiple devices. Please can you show elaborate codes ? Are you testing in an emulator or specific device ? Does it occur after certain action e.g. screen orientation change etc ? Any extra information will be useful.

[2017-01-14 09:43] amitsri20 commented on #2
Hi, I am sharing the video of my scenario.
https://drive.google.com/file/d/0B97xPWRVxZSPRzNqS3JSOFdFVTg/view?usp=sharing

As you will see in the video, it does not happen every time but if I am opening activity with status view multiple times few times I face the problem.

Please suggest.

[2017-01-20 04:48] itzAneesh opened #4 "Cannot make the Description text in Two Lines..."
I wanted to make the description text in two lines. I tried passing '\n' within the text but it was not making any difference

[2017-01-20 10:47] amitsri20 commented on #2
Hi,

One thing I figured out about this is that it only happens when the animation is set to true.

[2017-01-20 11:00] kofigyan commented on #2
Thank you Amit for the extra information. Found the possible reason for
this anomaly. Will work on it over the weekend and update you thereafter.
On 20 Jan 2017 10:47, "Amit Srivastava" <notifications@github.com> wrote:

[2017-01-20 20:38] fayazara opened #5 "I only get this error whenever I add this library"
HI I get this error when I add the library in my app java.lang.NoClassDefFoundError: Failed resolution of: Landroid/support/v4/os/BuildCompat;

[2017-01-21 17:56] Nielssg commented on #1
Could you please add it? I really need it!

[2017-01-31 01:01] kofigyan commented on #2
Hi Amit, I believe the issue is resolved now.  I am adding the other feature requests by the various users to form version 0.0.2 . You can download the stateprogressbar library(or copy the classes together with the asset and values folders contents)  from the master branch into your project for now and test. Your feedback will be appreciated.

[2017-01-31 04:04] amitsri20 commented on #2
Sure, I will test and tell you back.

Thanks

On Tue, 31 Jan 2017 at 6:31 AM, Kofi Gyan <notifications@github.com> wrote:

[2017-01-31 04:50] apaul10 commented on #2
Hello,

I am realizing the same issue, when using progressBar inside Listview/RecyclerView, when one item is being set, all items are being updated with the same value.

[2017-01-31 06:06] kofigyan commented on #2
Hi @apaul10 ,
      I believe the issue raised by @amitsri20 is resolved and will be available in version 0.0.2 soon. You can download the stateprogressbar library(or copy the classes together with the asset and values folders contents) from the master branch into your project for now.

[2017-02-04 11:26] kofigyan commented on #1
Hi @okisetiawan0101  and @Nielssg ,
    Version 0.0.2 of the library is now officially released. You can now add a fifth state to your project.

[2017-02-04 11:33] kofigyan commented on #2
Hi @amitsri20 and @apaul10 ,
   Version 0.0.2 of the library is now officially released. You can now use this version as it solves this issue.

[2017-02-05 12:55] apaul10 commented on #2
@kofigyan Thanks much

[2017-02-05 13:08] kofigyan commented on #2
@apaul10  You are welcome.

[2017-02-06 06:51] amitsri20 commented on #2
Great job will check the latest one..thanks a lot for creating such a good
library.

On Sun, Feb 5, 2017 at 6:38 PM, Kofi Gyan <notifications@github.com> wrote:

[2017-02-06 08:51] kofigyan commented on #2
You are welcome Amit.
On 6 Feb 2017 06:51, "Amit Srivastava" <notifications@github.com> wrote:

[2017-02-06 12:22] kofigyan commented on #2
@amitsri20  l will be waiting for your immediate feedback to close this issue.

[2017-02-09 20:49] philipphager opened #7 "Reset state progress bar?"
I wanted to reset the progress bar in the same view if the corresponding action was restarted, but after all states have been checked, I'm not able to reset the states to its initial state. Is there any way to reuse the progress bar after it completed once?

[2017-02-09 23:22] kofigyan commented on #7
Hi @philipphager , the question looks multi-faceted so l will try and breakdown the answer.

_You can do this by setting the current state dynamically. ie. setCurrentStateNumber(StateNumber)_

_You can equally do this by setting it dynamically , ie. setAllStatesCompleted(boolean)_

_You can do this by setting the current state dynamically to ONE. ie. setCurrentStateNumber(StateNumber.ONE)_

_Yes a

[2017-02-10 09:09] philipphager commented on #7
Thank you for your answer!
But when I call the following to reset my progress bar:
[code]

I get this strange visually inconsistent state:

<img width="274" alt="bildschirmfoto 2017-02-10 um 10 00 39" src="https://cloud.githubusercontent.com/assets/9155371/22820850/d80e0bf4-ef78-11e6-8533-61a08001eb98.png">

This was the actual initial state I want the progress bar to reset to:
<img width="267" al

[2017-02-10 09:26] kofigyan commented on #7
Looks like you are using the library wrongly hence the inconsistent result.
To attain the desired result just use this :
 stateProgressBar.setCurrentStateNumber(StateProgressBar.StateNumber.ONE);

[2017-02-10 10:15] kofigyan commented on #7
@philipphager Let me know how it went when you are done. If you are still not getting the desired result then you might have to share the content of your xml and .java files with me to further understand how you are using the library. The wiki page also has very good guide on using the library.

[2017-02-10 10:52] Fredrib commented on #7
I got a similar problem trying to reset the bar to its first stage, although I didn't have a problem going back from third stage to second stage, for instance. If I've tried to go back from second stage to first stage, the joining line of this two stages don't get erased. I've looked into the code and find out a solution making a small change and I have submit a PR for this. You might look into th

[2017-02-10 11:32] kofigyan commented on #7
@Fredrib Sorry for the late in reply. I have decided to look into the PR this weekend and give you a feedback. On this issue:

_There is a real world example in the sample code labelled Usage(Real world example) where you can move from second stage to first stage. If your use case is not different from this example then you can look into it. This is also available on the Google PlayStore  _  [Stat

[2017-02-10 14:29] kofigyan commented on #7
@philipphager  and @Fredrib  I have examined the issue raised deeply and is clear the library does not have provision for resetting the stateprogressbar after it has completed. I will add this functionality either this evening or latest by tomorrow. Thanks to @Fredrib for your PR. I will update everyone on this in version 0.03.

[2017-02-10 15:01] Fredrib commented on #7
@kofigyan sorry I couldn't get back to you in time, but I believe you already reproduce the bug. Looking forward to your version update. Thanks and keep up the good work!

[2017-02-10 15:32] philipphager commented on #7
Thank you for the good work and the fast replies! Looking forward to the update!

[2017-02-13 09:10] kofigyan commented on #7
@philipphager and @Fredrib StateProgressBar version 0.0.3 is now officially released with the issue resolved. @Fredrib l have accepted your pull request and merged with the master branch. Thank you all for your contributions.

[2017-02-13 09:44] philipphager commented on #7
Thank you very much @kofigyan! For me, it works like a charm! 👍

[2017-02-13 09:53] kofigyan commented on #7
@philipphager  l appreciate your positive feedback.I will keep on working on additional features to further enrich the library.

[2017-02-13 16:31] #7 closed

[2017-02-13 20:49] connyduck opened #8 "StateProgressBar is overdrawing"
I noticed StateProgressBar is drawing the foreground color over the background color.
This is
1. visually noticeable on low resolutions - see attached image - top is current version, bottom is how it should look, black background color
2. bad for performance because drawing the background is not necessary

you can fix it yourself if you want, but I can also send you a pull request^^
Thanks for the

[2017-02-13 21:49] kofigyan commented on #8
Thank you @connyduck for the positive feedback. I will definitely look into this issue. You are warmly welcome to contribute with a pull request.

[2017-02-14 15:23] #2 closed

[2017-02-14 15:32] #1 closed

[2017-02-14 22:27] connyduck commented on #8
Sent you a pull request! I reduced the number of draw operations quite a bit. Let me know what you think of it.

[2017-02-15 09:38] kofigyan commented on #8
I will look into it quickly and give you a feedback. I really appreciate the contributions.

[2017-03-02 06:08] Frank1234 opened #10 "Change number of items after creation"
How do I change the number of items after creation: the user checks a box on one of the pages, and has to fill in an extra page.

If I use setMaxStateNumber() it increases the size of the nav bar out it does so out of screen bounds. requestLayout() doesn't help.

[2017-03-02 09:40] kofigyan commented on #4
This looks like a good idea. I will consider adding this feature in future updates. In my opinion it should be possible to implement such a feature with moderate effort.

[2017-03-02 10:19] kofigyan commented on #5
Hi Fayaz, these two [#1](http://stackoverflow.com/questions/25430551/noclassdeffounderror-failed-resolution-of-landroid-support-v7-appcompat-rstyl)  [#2](http://stackoverflow.com/questions/39601370/java-lang-noclassdeffounderror-failed-resolution-of-landroid-support-v4-os-bui) from StackOverflow shows that this error is not likely from this library. Maybe l can help if l see some codes.

[2017-03-02 14:02] kofigyan commented on #10
Hi @Frank1234 . l must say this is not a feature l envisage during the design of this solution. Let me look at how well it fit in with the overall design and update you. Unless your use case is similar to  [this](https://github.com/kofigyan/StateProgressBar/issues/7) where you are doing all transitions in the same view you can consider the implementation of the "Real world example" in the sample

[2017-03-03 12:32] kofigyan commented on #8
Overdraw is now fixed. Pull request accepted. I had to make some few changes to accommodate feature requests from other users.

[2017-03-06 06:37] Frank1234 commented on #10
Okay, where exactly can I find this "Real world example"? I'm using StateProgressBar in combination with a ViewPager. I think I'll just inflate the view again and remove the old one when the user checks the switch.

[2017-03-06 07:22] Frank1234 commented on #10
Works like a charm, too bad it doesn't animate, but that's fine.

[2017-03-06 09:02] connyduck commented on #8
Thank you very much! The change is already live in my app!

[2017-03-06 09:02] #8 closed

[2017-03-06 09:10] connyduck commented on #10
I have the same problem, but the other way round. if I decrease the max State Number, the bar does not fill the screen anymore

![screenshot_20170306-100429](https://cloud.githubusercontent.com/assets/10157047/23603309/e2df3aaa-0254-11e7-8a04-f6c3f5547e73.png)
![screenshot_20170306-100435](https://cloud.githubusercontent.com/assets/10157047/23603315/edcd215c-0254-11e7-827a-684a1c544020.png)
↑ work

[2017-03-08 09:40] RBalan opened #11 "Animation missing when setting the current state from code."
Thanks for this, first of all!

I browsed the code and couldn't figure out exactly why the animation is running only the first time when setting the current state. Is there anything I'm missing? If not, do you have this planned because it would be awesome?

[2017-03-08 22:51] kofigyan commented on #11
Hi @RBalan , l will be extending the api tomorrow to enable this feature. It was actually a functioning feature in older versions but l had to disable it to accommodate other requests from other users. Expect the update tomorrow.

[2017-03-08 23:05] kofigyan commented on #10
Hi @Frank1234 , l will be updating the api tomorrow to enable animation in the particular context you described. Did you follow the real world example l mentioned ? [Link Here](https://github.com/kofigyan/StateProgressBar/tree/master/sample/src/main/java/com/kofigyan/stateprogressbarsample)

[2017-03-08 23:09] kofigyan commented on #10
Hi @connyduck ,I am currently working on the feature you mentioned. I will keep you posted on the progress.

[2017-03-09 14:58] kestasvenslauskas opened #12 "Setting width match_parent"
Hey when I'm settings width match parent (or any exact value) it leaves huge padding on both sides.
Is there any way to change it?

[2017-03-09 15:33] RBalan commented on #11
Fantastic!

[2017-03-10 07:07] pbajra opened #13 "Regarding shape"
Can the shape be different than circle?

[2017-03-10 07:43] kofigyan commented on #12
Hi @kestasvenslauskas , the implementation of the onMeasure method in the library enforces consistent results in all cases. The width is calculated at this line :  `int width = MeasureSpec.getSize(widthMeasureSpec);`
    You can share your codes with me or just cross-check your codes.

[2017-03-10 07:49] kofigyan commented on #13
Hi @pbajra , this is quite possible. Can you describe the use case,if possible with a design.

[2017-03-26 14:21] #12 closed

[2017-03-26 14:22] #5 closed

[2017-03-31 18:44] FRIST008 opened #16 "Create with selector shape+bitmap/drawable"
I'm have

<selector xmlns:android="http://schemas.android.com/apk/res/android">
    <item android:drawable="@drawable/my_bitmap_in_drawable_res" android:state_checked="true" />
    <item>
        <shape android:shape="oval">
            <size android:width="20dp"
                  android:height="20dp" />
            <corners android:radius="10dp"/>
            <solid android:color="@color/black"

[2017-04-01 08:43] kofigyan commented on #16
Hi @FRIST008 , l am almost sure stroke can be added. Give me some few days to push this new feature to the upcoming version of the library.

[2017-04-01 16:11] frist008 commented on #16
Ok. Thanks=) I'll wait.

[2017-04-10 21:27] RBalan commented on #11
Hey! Don't mean to bug you but do you have any good news on this one for me?

[2017-04-13 10:26] kofigyan commented on #11
Please sorry for the delay. Is never a bother to check on the update of certain feature requests. I was just a little tied down with a client's app this couple of days. I will do my best to look at it this weekend.

[2017-04-19 22:44] RBalan commented on #11
I'm currently working on an app for an MLM company and I'm at the beginning of development but I'm trying to make it as shiny as possible so they are content with the result. The feature's definitely a nice one to have.

[2017-05-11 13:05] ligol opened #17 "Allow use of integer instead of enum value"
Why using an enum in Java or xml instead of integer directly, would be so much easier to link with a viewpager and use the viewpager index.

I can make a PR if it's ok for you.

[2017-05-11 22:19] kofigyan commented on #17
Please do send. I will look into it.

[2017-07-24 06:31] lingarajsankaravelu opened #20 "Is there any possibility to use this as vertical state progress rather than a Horizontal one.similar to the image added?"
<img width="164" alt="vertical_state_progress_bar" src="https://user-images.githubusercontent.com/8025146/28510792-dd575db6-7067-11e7-8f2d-ac309657f07a.png">

[2017-07-27 11:33] kofigyan commented on #20
Hi @lingarajsankaravelu ,thanks for reaching out. I believe this is achievable. Is a feature l  thought of adding to the library right from the get-go. Please give me this weekend. Maybe l can start something. I will keep you posted.

[2017-08-09 07:57] hhaappy163 opened #21 "Can not make direction to portrait"
Can not make direction to portrait .

[2017-08-15 08:34] geniusforapp opened #22 "Font Issue"
how to add custom font for text and please can you make the text position is flexible to top or bottom

[2017-08-16 09:47] kofigyan commented on #22
These features can be done. Currently working on some new features and l will consider add these requests to it. So expect it in the next version release which l believe is very soon.

[2017-08-16 09:48] kofigyan commented on #21
Currently working on this feature. Please expect it in the coming version.

[2017-08-22 15:29] a-najar commented on #22
@kofigyan thank you if u please can release it soon coz my app will be released in the next few days thanks 🥇

[2017-08-24 08:24] kofigyan commented on #22
Ok @geniusforapp. I am working hard to expedite the release of new features. I will keep you posted on this.

[2017-09-08 09:39] wujushan opened #23 "No animation when setCurrentSateNumber"
When I call the method "setCurrentStateNumber" into a  button listener to update current state ,there will be no animation.

[2017-09-14 15:05] kofigyan commented on #23
Hello @wujushan , please can you provide me with a code snippet of how you do this call.

[2017-09-18 13:23] ajayqualwebs opened #24 "is it possible can set click event at circles?"

[2017-09-18 13:50] kofigyan commented on #24
Please can you describe the scenario or possibly the use case for such a feature.

[2017-09-18 14:55] ajayqualwebs commented on #24
I want when i click on mStateNumber of circle so get value of clicked draw circle.

[2017-09-20 13:43] wujushan commented on #23
Hi @kofigyan ,if it is necessary to call the method “enableAnimationToCurrentState(true)” before calling the method "setCurrentStateNumber"？This is my code below.

`public class Main2Activity extends AppCompatActivity {
    private String[] descriptionData = {"one", "two", "three"};
    private StateProgressBar mStateProgressBar;
    @Override
    protected void onCreate(Bundle savedInstanceState)

[2017-09-21 06:10] ajayqualwebs commented on #24
Give me any suggestion it's important.

[2017-09-24 13:53] a-najar commented on #22
@kofigyan Any update please 👍

[2017-10-24 19:15] xellDart opened #25 "how to add more than 4 states?"
i need nine states for this

[2017-10-29 09:26] kofigyan commented on #25
Hi @xperiafan13-rom , thanks for reaching out. You can currently add a maximum of five states. I am currently working on the ability to add infinite(N) number of states. This feature will be available soon. I am considering the possibility of giving you an early exclusive preview(Not full features but a working solution). I will keep you posted on that.

[2017-11-10 06:58] vijithasharma opened #26 "StateProgressBar not showing run time changes when used inside Recyclerview"
I am using stateprogressbar to show the row state of recyclerview. When reyclerview row is clicked, it will show the progress status of that row.

I am trying to make changes on to stateprogressbar during run time on the onPostExecute() method of AsynchTask. I am getting names, max states and current state from server - names for node in the form of string array, max state number and current state

[2017-11-26 07:06] rohitgarg29 opened #27 "In case of one state, show line till end and bubble in left"
Hi,

I want to show one state only, but it is showing one bubble in center only but i want to show bubble with line. Please suggest change. Thanks!

[2017-11-26 07:08] rohitgarg29 commented on #25
You need to make changes like below. Till the time, kofigyan completes the next version, you can use below work around.

public enum StateNumber {
        ONE(1), TWO(2), THREE(3), FOUR(4), FIVE(5), SIX(6), SEVEN(7), EIGHT(8);
        private int value;

        StateNumber(int value) {
            this.value = value;
        }

        public int getValue() {
            return value;
        }

[2017-11-27 08:24] YogeshTripathi5 commented on #21
hey dev can you please respond that is this feature implement if yes can you mention the steps

[2018-01-17 11:09] yatindeokar commented on #24
i also want the same feature so that i can change stage on onClick event of circle.

[2018-01-24 04:46] rohitgarg29 commented on #20
Hi @kofigyan did you able to achieve this functionality? Pls update thanks.

[2018-01-24 08:54] ajayqualwebs commented on #24
So did you get something?

[2018-01-24 23:14] kofigyan commented on #20
Hi @rohitgarg29, please sorry for the delay. I am working on it. I am thinking of ways to get support from the community so l can concentrate much of my time on adding many of the feature requests. Please expect an update from me soon. A week at most.

[2018-01-24 23:23] kofigyan commented on #24
Hi @ajayqualwebs , please sorry for the delay. I have started exploring the possible solution to your request. I am working on it alongside another feature request so please give me at most a week to get back to with an answer. I am currently exploring ways and means of getting support from the community so l can concentrate much of my time on adding many of the feature requests.

[2018-01-25 06:15] ajayqualwebs commented on #24
Ok thanks for this improvement.

[2018-01-27 05:19] Inzimam-Tariq commented on #23
@wujushan have you found the solution? let me know when you find.

[2018-01-27 05:22] Inzimam-Tariq opened #28 "How to make is Right To Left (RTL)?"
I'm developing app in Arabic so I need it to to show step number from RTL like 4, 3, 2, 1 but currently its  LTR like 1, 2, 3, 4. How can I do that?

[2018-01-29 10:04] kofigyan commented on #28
I will work on this within the week and update you.

[2018-01-31 08:09] Inzimam-Tariq commented on #28
Thanks

On Mon, Jan 29, 2018 at 3:04 PM, Kofi Gyan <notifications@github.com> wrote:

[2018-02-11 09:33] kofigyan commented on #20
Hi @rohitgarg29 , just a quick update. Below is the current state of the work. I am putting finishing touches to it and will update the library within this week.
![screenshot_2018-02-11-09-17-18](https://user-images.githubusercontent.com/1220772/36071918-6a1d6b06-0f0e-11e8-8306-92955a6bfff7.png)

[2018-02-11 09:37] kofigyan commented on #21
Hi @YogeshTripathi5 , sorry for the delay. Below is the current state of the work. I'm working on the finishing touches and will update the library within this week.
![screenshot_2018-02-11-09-17-18](https://user-images.githubusercontent.com/1220772/36071954-2457c44e-0f0f-11e8-8668-622d83a89956.png)

[2018-03-12 13:30] kassemitani commented on #28
any update on the Right to Left ? for arabic

[2018-03-12 13:41] kassemitani opened #29 "add custom drawable instead of numbers"
Is it possible to add custom drawable (inside circle shape) instead of numbers?

[2018-03-12 19:08] kofigyan commented on #28
@Inzimam-Tariq  and @kassemitani  is done. I am just preparing to upload it soon. See screenshots below :

![screenshot_2018-03-12-15-08-43](https://user-images.githubusercontent.com/1220772/37304097-90b4178e-2628-11e8-9e2b-57f6227c7d18.png)

![screenshot_2018-03-12-15-08-25](https://user-images.githubusercontent.com/1220772/37303984-1fb33344-2628-11e8-9686-19f0f66101fc.png)

[2018-03-15 07:37] kofigyan commented on #28
Hi @Inzimam-Tariq and @kassemitani ,please can you look at the the implementation of the description of each state and confirm to me whether is consistent with Arabic style of writing.

`    String[] descriptionData = {"Details", "Status", "Photo", "Confirm" , "Done"};
`
`@Override
    public void setContentView(int layoutResID) {
        super.setContentView(layoutResID);
        stateProgressBar

[2018-03-15 07:41] kassemitani commented on #28
great job @kofigyan , is it possible to allow to add any drawable inside the circle shape??  Instead of numbers and checkmark.

[2018-03-15 07:50] kofigyan commented on #28
Thanks @kassemitani for the feedback. I will look into the drawable inside the circle shape request and give you a feedback soon.

[2018-03-15 07:56] kofigyan commented on #29
Hi @kassemitani , l will look into this request and give you a feedback soon.

[2018-03-15 09:04] kofigyan commented on #28
Hi @kassemitani , to clarify my question, what should be the proper Arabic representation of this code :

`String[] descriptionData = {"Details", "Status", "Photo", "Confirm" , "Done"};`

Please is it 1 or 2 ?  :

1.
![screenshot_2018-03-15-08-43-18 1](https://user-images.githubusercontent.com/1220772/37453338-4e6323a8-282f-11e8-98df-6aaadb47e58d.png)

2.
![screenshot_2018-03-15-08-38-50](https://

[2018-03-15 11:42] kassemitani commented on #28
2 is correct

[2018-03-15 15:25] kofigyan commented on #28
Thank you @kassemitani  for the feedback. I will finish with these features and quickly look into your feature(drawable inside the circle shape) request.

[2018-03-15 15:37] kofigyan commented on #27
Please can you expound on this feature request. A state(bubble) with line sounds intuitive when there are more than one state(bubble). A line should link to another state(bubble). Can you explain a little more. What is/are possible use cases for this request ?

[2018-03-19 20:11] kassemitani commented on #28
Thank you @kofigyan for your awesome work! Let us know when you going to commit changes.

[2018-03-20 12:28] kofigyan commented on #28
Hi @kassemitani , l will make all the features available to the public most likely this week. This round of updates cover many of the feature requests from users. I am putting the finishing touches to it.

[2018-03-21 14:36] Adnan-addi commented on #4
i am having the same issue , i want to display the text in two lines , how can i achieve this . \n doesn't work.

[2018-03-23 00:23] kofigyan commented on #28
Hi @kassemitani  and @Inzimam-Tariq the features are fully implemented now and available to the general public. How to use :
1. Add to build.gradle
`implementation 'com.kofigyan.stateprogressbar:stateprogressbar:0.0.8'`

2.  Add attribute  in xml file
`app:spb_stateNumberIsDescending="true"`

Eg.
`
    <com.kofigyan.stateprogressbar.StateProgressBar
        android:id="@+id/state_progress_bar"

[2018-03-23 00:35] kofigyan commented on #24
Hi @ajayqualwebs   and @yatindeokar  the features are fully implemented now and available to the general public. How to use :
1. Add to build.gradle
`implementation 'com.kofigyan.stateprogressbar:stateprogressbar:0.0.8'`

2. Add the following codes
`stateProgressBar.setOnStateItemClickListener(new OnStateItemClickListener() {
            @Override
            public void onStateItemClick(StateProg

[2018-03-23 00:37] kofigyan commented on #24
I will be working on full documentation tomorrow after l finish lecturing my students.

[2018-03-23 00:38] kofigyan commented on #28
I will be working on full documentation tomorrow after l finish lecturing my students.

[2018-03-23 15:06] yatindeokar commented on #24
Thank you so much for this change.  now its amazing.

On Fri, Mar 23, 2018 at 6:05 AM, Kofi Gyan <notifications@github.com> wrote:

[2018-03-23 16:55] kofigyan commented on #26
Hi @vijithasharma   the features are fully implemented now and available to the general public. How to use :
1. Add to build.gradle
`implementation 'com.kofigyan.stateprogressbar:stateprogressbar:0.0.8'`

2. Add the following codes
`stateProgressBar.setOnStateItemClickListener(new OnStateItemClickListener() {
            @Override
            public void onStateItemClick(StateProgressBar stateProg

[2018-03-23 16:56] kofigyan commented on #26
Full documentation coming soon.

[2018-03-26 06:15] ajayqualwebs commented on #24
Thank You very much, for this wonderful library which I already implement with my project, but it's become more reliable for other.
Thanks Again.

[2018-04-10 10:01] aman4india commented on #20
Hi, Any update on this?

[2018-04-11 14:40] Inzimam-Tariq commented on #28
Good to know You have fixed it, I will use it in my project. thanks

[2018-04-18 06:03] GuruKarmakar opened #30 "can i use it with viewpager?"

[2018-04-18 08:50] ndorigatti commented on #21
hi @kofigyan any update on this?

[2018-04-19 07:13] kofigyan commented on #30
Some of the users of the library used it successfully in viewpagers so you can.
On 18 Apr 2018 06:03, "GuruKarmakar" <notifications@github.com> wrote:

[2018-04-19 07:15] kofigyan commented on #21
Hi Nicola, l am still working on this feature. The delay in release is due
to some few edge cases and nuances. I will keep you all posted when is
completely done.
On 18 Apr 2018 08:51, "Nicola Dorigatti" <notifications@github.com> wrote:

[2018-04-21 10:24] kofigyan commented on #22
Hi @geniusforapp , ability to add custom fonts to state items and state description feature completed now. Please consult the docs for details(quick intro at Readme.md main page). Apologies. I should have introduced this feature earlier.

[2018-04-21 10:33] kofigyan commented on #4
Hi @itzAneesh and @Adnan-addi , ability to add multiline description to state descriptions completed now. Check the docs(Quick intro at Readme,md page/main page). Options to justify description texts, specify spacing for description and set maximum description line included in this update.  Thank you all for your patience.

[2018-04-21 15:08] anajar commented on #22
@kofigyan thanks bro i will update the lib , one more thing can u update also the position of the font to the top or bottom

[2018-04-21 15:16] kofigyan commented on #22
Thank you @anajar for the positive feedback. With regard to your feature request(ie.  position of the font to the top or bottom) l am assuming you mean ability to move state number position up or down. Let me if my understanding of your question is correct.

[2018-04-21 15:28] anajar commented on #22
@kofigyan no i mean the text it self of the status let's say progress one text now its in the bottom if there is a method that can help me to move it top or chose between top or bottom or start or end of the dot

[2018-04-21 16:05] kofigyan commented on #22
![custom_font_spb](https://user-images.githubusercontent.com/1220772/39086176-bd0f0f92-4585-11e8-8184-797b36c882ce.jpg)

If we take this screenshot as an example. You mean ability to move the descriptions["Details", "Status", "Photo", "Confirm"]  to the top/bottom etc.  right ?

[2018-04-24 21:09] #4 closed

[2018-04-24 21:12] kofigyan commented on #28
You are welcome @kassemitani .

[2018-04-24 21:12] #28 closed

[2018-04-24 21:14] kofigyan commented on #24
You are welcome @ajayqualwebs.

[2018-04-24 21:14] #24 closed

[2018-04-24 21:15] #22 closed

[2018-04-24 21:22] kofigyan commented on #23
Please check out this link -https://youtu.be/-03NBianPfw . Let me know if is helpful.

[2018-04-25 07:56] a-najar commented on #22
@kofigyan yes this what he mean

[2018-05-01 11:03] #30 closed

[2018-05-08 17:23] tykees opened #31 "Changing of Color, size,Line Thickness returns back to it initial color after changing the device orientation or pressing back button"
Hello, I need your reply on this behavior ASAP, i think there should be a save button to keep those setting remain in it state or is the behavior a bug?

[2018-05-08 18:42] kofigyan commented on #31
It shouldn't be. Please let me look into  it quickly and give you a
feedback.
On 8 May 2018 17:23, "tykees" <notifications@github.com> wrote:

[2018-05-25 07:54] Beevish commented on #4
hey can you add this ability in your xamarin library also.

[2018-06-05 01:49] swy0710 opened #33 "line break(new line) or marquee for the description."
Hello,

I am wondering how to set a line break or marquee if a text of the description is long?
Do you have any option?

Please help.

[2018-06-05 02:49] kofigyan commented on #33
Please check "Add Multiline Description Data to StateProgressBar" in the readme.md.

[2018-06-05 05:43] swy0710 commented on #33
@kofigyan

Thank you for the comment.
I already checked it and it's made manually using "\n".

I want to make it automatically.
Is is possible?

[2018-06-05 07:25] kofigyan commented on #33
Please give me up to next week to work on this. I must first design a good
algorithm so it works well with existing solutions like the use of " \n"
and so on.
I will quickly update you when is done.
On 5 Jun 2018 05:43, "swy0710" <notifications@github.com> wrote:

[2018-06-07 07:56] swy0710 commented on #33
@kofigyan
Thank you!!
I'm looking forward to your update. :)

[2018-06-20 07:12] kofigyan commented on #31
Hi @tykees , issue resolved in the new version (1.0.0) release. Please update your library to reflect this fix.

[2018-06-20 07:37] michygeek commented on #31
oK...Thanks, I will

[2018-06-20 07:39] #31 closed

[2018-06-22 10:48] kofigyan commented on #7
Hi @philipphager and @Fredrib , would you mind writing a short testimonial of your impression using my work and collaborating with me. This is for my application for a master's degree program in computer science. Thanks.

[2018-06-28 07:08] sudansh commented on #23
This wasn't helpful, As you can see the line animation didn't happen on button click. It just changed from state1 to state2.

[2018-06-29 22:00] SopheakSem commented on #10
![6steps](https://user-images.githubusercontent.com/40125997/42116673-870041f4-7c22-11e8-9055-4d65623b2b1e.JPG)
Hi @kofigyan How could I increase to 6 step?

[2018-07-05 02:24] lyvietson95 commented on #10
Hi @kofigyan. This is lib very nice for me, i hope so you can add more feature in the future and i have a question why don't you allow user add more than 5 step number. I have task use more than 5 step but i can not do it with your lib ?

[2018-07-20 17:15] lfsp21 commented on #20
Any update on this? please :)

[2018-08-06 17:37] NmdOfficial opened #34 "Can't use this library"
Why can I not download the jar file from jitpack ?
I tried a lot of things without succes.

I need a working aar file.
Is there anything broken on master?

[2018-08-07 06:22] michael-winkler commented on #34
https://jitpack.io/com/github/kofigyan/StateProgressBar/d6e2e4e794/build.log

Start: Sun Jul 15 14:20:47 UTC 2018
Git:
fatal: No names found, cannot describe anything.
commit d6e2e4e794b31ef2ea8e4509ec80a191bb567696
Author: kofigyan
Date:   Wed Jun 20 07:08:55 2018 +0000

    Saving states and version 1.0.0 released

Run gradle build
Gradle build script
Found gradle version: 4.1.
Using gradle wrap

[2018-08-07 07:36] kofigyan commented on #34
Hi @NmdOfficial , please let me check it out and give you a feedback within the week.

[2018-08-07 08:18] michael-winkler commented on #34
@kofigyan thanks for your answer.
Yeah please look into it.
The lib looks really nice and I want to use it in a public app builder (makeroid.io)

But as you can see I have problems to get the aar from this lib.

[2018-08-09 12:22] michael-winkler commented on #34
Hi @kofigyan
Any news on it?
Else can you send me a working aar file of the lib?

[2018-08-10 08:54] kofigyan commented on #34
Hi @NmdOfficial , please sorry for the delay in reply. I am currently on a project here so l plan on finishing it up this weekend.

=> I will quickly look at it today and give you a feedback.

[2018-08-10 10:01] michael-winkler commented on #34
Allright thank you very much @kofigyan :)

[2018-08-10 19:45] kofigyan commented on #34
I have the aar file. I am not able to upload here(format not supported). Please can l send it to you through any other means ? email etc.

[2018-08-10 19:55] michael-winkler commented on #34
Yes of course:
nmdofficialhelp@gmail.com

Thank you :)

[2018-08-10 20:00] kofigyan commented on #34
Sent. Please let me know if it worked for you.

[2018-08-11 06:59] michael-winkler commented on #34
I tried the aar you send:
java.lang.RuntimeException: Font asset not found fonts/fontawesome-webfont.ttf

For what do we need this font?
Can we not use a default android font without a extra font file ?

[2018-08-12 03:29] sudarshaana commented on #25
If your work has finished of adding more then 5 states, please commit changes.

[2018-08-13 06:25] michael-winkler commented on #34
Any news again @kofigyan ?

[2018-08-13 08:46] kofigyan commented on #34
Hi @NmdOfficial , please forgive me for the apparent delay. I was a little tied down over the weekend.

I think the name fontawesome could be a little misleading. Probably fontawesome extract could be the right nomenclature(naming), because is just a small extract from font awesome for the state completed sign(correct/check sign).

I wouldn't say is impossible. Just that given what l wanted to ach

[2018-08-13 09:33] michael-winkler commented on #34
Allright.

I looked into the aar and the font is there.
I added the aar like normal way of doing it.
After starting the app I got the crash and it tells me that the font was not found.

What about to add the font in the normal assets folder and not in the "font" folder?
Maybe it is a good try to catch the issue.

By the way, have you found the problem why master not works?

[2018-08-15 09:13] kofigyan commented on #34
Hi @NmdOfficial , there is definitely workarounds for this. I will look at it today and get back to you with the results.

I will explore this solution today and give you the feedback

I will look into this today as well.

[2018-08-23 08:05] michael-winkler commented on #34
Hello @kofigyan Any news about the progress ?

[2018-08-27 13:51] Nagaphaneshwar99 opened #35 "Adding images"
How to add images for different states?

[2018-09-10 18:42] hharddy opened #37 "Use gradient color?"
Is it possible to use gradient color for background?

[2018-09-26 11:06] JibuVarghese opened #38 "Is it possible to change current state background and foreground color like currentStateDescriptionColor?"

[2018-09-26 11:07] JibuVarghese commented on #38
Is it possible to change current state background and foreground color like currentStateDescriptionColor

[2018-09-27 08:00] kofigyan commented on #38
Hi @JibuVarghese , please you can. Check Below :

`spb_stateBackgroundColor  => State background color. Should be a color value. Possible forms are "#rgb", "#argb", "#rrggbb", or "#aarrggbb".
    Related method : setBackgroundColor(int)`

  `spb_stateForegroundColor  => State foreground color. Should be a color value.
   Possible forms are "#rgb", "#argb", "#rrggbb", or "#aarrggbb".
    Related me

[2018-09-27 08:47] JibuVarghese commented on #38
Hi @kofigyan it is common for all right. What I meant is about currentState? ie, If the current state is set to  THREE, I want to change that circle color.

[2018-11-17 14:08] fayssel1993 opened #39 "Previous State Description Color return gray"
![device-2018-11-17-145609](https://user-images.githubusercontent.com/17232979/48661858-0b84e000-ea79-11e8-8953-6af3dce64ac4.png)

when going to next step viewer the previous one return a green color like the image shows

[2018-11-17 14:17] kofigyan commented on #39
Hi @fayssel1993, that is the design of the library. Making the previous description colour different from the current description colour makes it clear and distinguishable.

[2018-11-17 19:42] fayssel1993 commented on #39
is there any way to put a custom color to the description state ?
by the way the library is great

[2018-11-19 11:07] kofigyan commented on #39
Not now. I will definitely consider adding this feature in the next update. Thank you for the positive feedback.

[2018-11-23 14:40] unlimited101 commented on #23
I have the same problem. And I think I know why it appears. You call `enableAnimationToCurrentState(false)` in `Animtor.run()` as soon as the animation stops. This disables the animation for further changes via `setCurrentStateNumber()`. It doesn't even help to call `enableAnimationToCurrentState(true)` before a call to `setCurrentStateNumber()` because `Animator.run()` happens asynchronously.

I

[2018-12-03 05:13] bhuvaneswarisiddhi opened #40 "Stages Are not changing dynamically as per requirement."
Dear kofigyan,
I am developing one application  in that we are using page indicator , each slider we are implementing
  stage ProgressBar with Different Stages like first stage have 7 stages and 2nd stage have only 2 stages.
now the issue is when we are ending the session and restarting it, the number of stages in the stage progress bar is not changing as per the requirement.

[2018-12-04 10:10] kofigyan commented on #40
Hi @bhuvaneswarisiddhi , please can you break your issue down,l am having trouble understanding it well, if possible attached some screenshots.

[2018-12-04 13:41] bhuvaneswarisiddhi commented on #40
We have different protocols, each protocol has different number of stages and we implemented stages using stage progressbar to indicate stage progress(refer image "prtocol_with_stages"). For example protocol1 has 2 stages(refer image "prtocol1_with_2_stages") and protocol2 has 7 stages(refer image"prtocol2_with_7_stages"). Now what the problem is, when we try to end protocol1(2 stages) and try to

[2018-12-12 02:17] PaijoRX opened #41 "Unable to Add Custom Font to State Items and State Description Data"
Hi,

I have placed my **fonts** under **assets** like below

![image](https://user-images.githubusercontent.com/5009491/49842529-76aea180-fdee-11e8-9106-f878c8908c37.png)

and try to update the font using below code

[code]

But I always got error: the font is not found.

Please help me, Thanks

[2018-12-13 10:10] kofigyan commented on #41
Hi @PaijoRX , sorry for the delay in reply. I have started looking at the above problem. Please are you using Android DataBinding library ?

[2018-12-13 10:11] ghost commented on #41
Yes, I'm using DataBinding on my project

[2018-12-13 11:34] kofigyan commented on #40
Hi @bhuvaneswarisiddhi , sorry for the delay in reply. I have gone through the explanation with screenshots attached. My little observation :  1. Your current solution looks like a fork(or modification) of the original library. Example is the modification of the maximum state from 5 to 7. I have limited the maximum state to 5 because of design decision which l am working on to enable me to allow i

[2018-12-22 10:19] shadygoneinsane commented on #25
someone plz fork and fix this !!

[2018-12-31 00:07] Asbatel commented on #20
Any update ?

[2018-12-31 04:57] bhuvaneswarisiddhi commented on #40
OK as early as possible can you give some suggestion to solve that issue.

[2018-12-31 12:33] kofigyan commented on #40
Send me a quick mail
Email address : kofigyan2011@gmail.com
Skype : kofigyan2011

[2019-01-04 21:13] #34 closed

[2019-02-19 05:57] ajayqualwebs commented on #24
Hello Kofigyan/Stateprogressbar
I have the implement new thing with it the user can create dynamically the
number of states.

If you want of I can share my code with you.

Thank You

[2019-02-19 14:10] kofigyan commented on #24
Thank you @ajayqualwebs. Please do send me a pull request.

 - Kofi.

On Tue, 19 Feb 2019, 05:57 ajayqualwebs, <notifications@github.com> wrote:

[2019-02-26 07:49] philadelphia opened #42 "can't set a fixed height for this view, why?"

[2019-02-26 16:45] kofigyan commented on #42
Hi @philadelphia , use :
`setStateSize(float)`
or
`<com.kofigyan.stateprogressbar.StateProgressBar
android:layout_width="wrap_content"
android:layout_height="wrap_content"
app:spb_descriptionTopSpaceIncrementer="2dp"
app:spb_stateDescriptionSize="20sp"
app:spb_stateLineThickness="10dp"
app:spb_stateSize="40dp"
app:spb_stateTextSize="15sp" />`

Please check README.MD file or wiki for further detail

[2019-04-10 15:05] AlefeLucas commented on #20
Any update? pls

[2019-04-11 07:47] kofigyan commented on #20
Hi @AlefeLucas , the work is shaping up well. Time to make it a fully-fledged library has been the challenge. The work is a passion l pursue when l am not on a project. I wish l could get the support to work more on this. Below is the update :
![Screenshot_2019-04-11-07-31-59](https://user-images.githubusercontent.com/1220772/55939673-32dc7500-5bf3-11e9-9fab-9eb193892cf3.png)

[2019-05-10 15:22] stpn27 commented on #40
Sir how to update the state of the progress bar?

[2019-05-11 08:26] Hrishi35 opened #43 "On scrolling it sets all states enabled"
On scrolling in list view adapter , state progress bar enables all states

[2019-05-11 09:33] kofigyan commented on #43
Hi @Hrishi35, can you give details of use case or even better sample code of usage in/with listview adapter.

[2019-05-11 09:42] Hrishi35 commented on #43
Got it fixed by notifydatasetchanged() .

[2019-05-12 00:12] kofigyan commented on #43
Great

[2019-05-12 00:12] #43 closed

[2019-05-12 00:13] #42 closed

[2019-05-25 08:46] jaswinderwadali commented on #35
@Nagaphaneshwar99  did you find any solution for adding images in states?

[2019-05-25 17:59] jaswinderwadali commented on #35
found alternative
https://github.com/baoyachi/StepView

[2019-06-05 09:29] pratikbutani commented on #20
Any update?

[2019-08-02 19:48] umtkyck commented on #20
Any update on vertical one?

[2019-08-27 11:06] lakshyapunhani opened #44 "Can i add states dynamically?"
I don't have a fixed number of states at first so i need to fetch data from server and then add states at runtime. Can i do it?

[2019-08-27 13:28] lakshyapunhani commented on #20
Still nothing?

[2019-09-09 17:05] oussamabonnor1 commented on #44
![image](https://user-images.githubusercontent.com/17766221/64551108-40c22d80-d32c-11e9-8fcc-96227928c98c.png)
You can find this is the readMe! I hope it helps, happy coding ^^

[2019-10-12 06:49] akshaybenk commented on #21
Hello @kofigyan, Is this feature released?
If so how do I use it? because there is no information about using the bar in portrait mode in readme section.

[2019-10-26 11:21] fazilmuammar opened #46 "can State progressbar clickable?"
i want to give function on stateprogressbar, can i ? because i'm confused how to give this method for click listener in StateProgressbar.

Thank you

[2019-10-26 15:12] kofigyan commented on #46
Hi Fazil. Can you please explain further your question. Possibly adding sample code. My current understanding is you want supply the clicklistener a handler method like is done in Kotlin high order function. Am l right ? Please explain further. Sample code will even be better. Thanks.

[2019-11-14 00:30] Sytehk opened #47 "Full Descending order progress?"
Hello, please is it possible for the circle progress to be in descending order as well and not just the numbers? i mean i want the progress to be in a count down fashion like it should start filling bar from 4,3,2,1 in that order. is this possible?

[2019-11-25 20:01] kofigyan commented on #47
Hi Sytehk, please  is possible. Just use app:spb_stateNumberIsDescending="true" . Sorry for the late in reply.

[2019-11-25 20:02] kofigyan commented on #47
Also add in xml
app:spb_animateToCurrentProgressState="true"

[2020-02-02 11:26] #47 closed

[2020-02-11 06:29] AlmutawaEssam opened #48 "State get colored after the animation is finished"
Is there anyway to have the state to be colored after the animation is finished? not the way it is, it get colored before the animation starts

[2020-02-12 12:39] Ashwin-Sqt opened #49 "UI ISSUE"
The line gets overlapped is there any solution for this ?
My XML Code IS :

                <com.kofigyan.stateprogressbar.StateProgressBar
                    android:id="@+id/spb"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:layout_marginLeft="-40dp"
                    android:layout_marginBottom="20

[2020-02-12 12:45] AlmutawaEssam opened #50 "Current state indicator"
is there anyway to make the current state bigger?

[2020-02-12 12:54] kofigyan commented on #50
Hi AlmutawaEssam, sorry for the late in reply. This could be implemented by increasing the size of current state item in proportion to the other states in onDraw. Currently a little tied down but l will try a spare some time within the week to implement it. Let me know if you are able to try my suggested solution.

[2020-02-13 04:43] AlmutawaEssam commented on #50
does this mean that I will get the current state size bigger than the others?

[2020-02-13 04:51] AlmutawaEssam commented on #50
I wasn't able to do that as I'm kinda new to android studio

[2020-02-13 05:05] kofigyan commented on #50
I will work on this and give you a feedback. Is a feature that is
implementable.

On Thu, 13 Feb 2020, 04:51 AlmutawaEssam, <notifications@github.com> wrote:

[2020-02-13 09:44] kofigyan commented on #49
Is due to the choice of color. To resolve this lines should be drawn from state to state taking cognizant of the end of each circle. I will work on this and give you a feedback. You can start by overriding onDraw. Take a look at the drawLine function. Break it down to each state.

[2020-02-13 17:47] Ashwin-Sqt commented on #49
Okay Thank you sir,

[2020-02-16 04:45] AlmutawaEssam commented on #50
thank you, waiting for it

[2020-02-17 05:35] AlmutawaEssam commented on #50
Any news about this?

[2020-04-29 02:55] roybill opened #51 "Two questions"
1:How to customize the maximum value?The current maximum is 5,
app:spb_maxStateNumber="five"
2.Setting animation duration does not work:
stateProgressBar = (StateProgressBar) findViewById(R.id.your_state_progress_bar_id);
        stateProgressBar.setStateDescriptionData(descriptionData);
        stateProgressBar.setAnimationDuration(5000);

[2020-04-29 13:17] achunk17 opened #52 "Change number with image"
How to change numbers 1, 2, 3 and 4 with drawable image?

[2020-05-04 10:36] kofigyan commented on #52
Hi @achunk17, sorry for the late in reply. I am currently considering adding this feature. Please l will keep you updated when is done.

[2020-05-04 10:47] kofigyan commented on #51
Hi @roybill , sorry for the delay in reply. Please the current maximum number implementation is five as you rightly noted. I am working on expanding on it from 1 .. 5 to 1 .. N (Infinity). I will update you when this implementation is done.
   On your second question. The default animation duration is 4000. Changing the duration should work in all situations. Please can you cross check(test) with

[2020-05-18 15:59] brayann16 opened #53 "Custom Font"
Hello,
Great work,
Can I use a custom font?
If yes, please how to do it.
Regards

[2020-05-18 16:01] #53 closed

[2020-05-22 12:48] jainshivsagar opened #54 "Please Define Proguard Rules."
Please Define Proguard Rules.

[2020-06-02 12:35] kofigyan commented on #54
Hi @jainshivsagar , sorry for the late in reply. I will work on this within this week and keep you posted. Thank you for the feedback.

[2020-07-10 10:26] gargshashank opened #55 "How to set drawable in spb_stateForegroundColor."

[2020-07-22 09:45] fierrrrrrr commented on #20
Any update?

[2020-08-06 11:29] Mumbaso21 commented on #23
Have u find a solution to this problem ?
I'm trying to use it but this problem is still there...

[2020-08-17 22:25] MikBilisim opened #56 "AnimationDuration and AnimationStartDelay don't work"
If I set these parameters to "60000" duration, they won't work. Would you help me please

[2020-09-22 07:29] swarankargaurav1 opened #57 "how to change it from horizontal align to vertical alignment?"

[2021-03-25 06:50] safiyaAkhtarDev opened #59 "i want to add atleast 6 states"
please i see that the functionality was done, i just want you update the library so i can use more than 5 states

[2021-05-11 10:13] berkaksoyyy opened #60 "mavenCentral() support"
Android Studio 4.2 suggests change jcenter() to mavenCentral(). Will mavenCentral() be supported at future updates?

https://developer.android.com/studio/build/jcenter-migration

[2021-05-28 11:16] BurakDizlek commented on #20
Hi, I am waiting for this :) is there any update?

[2021-06-19 19:17] NoviceGabe opened #61 "How to delay the progress animation when changing current state?"

[2021-07-30 13:07] ArjunPatidar-numero opened #63 "I I want to set empty instead of number I want right tick but not number like 1,2,3,4, I need empty, How can I achieve this"

[2021-07-30 13:32] ArjunPatidar-numero opened #64 "I need like this(attached file) how can I achieve, Custom check icon and remove number"
![Capture](https://user-images.githubusercontent.com/79508854/127660389-15ac652d-301b-480d-a33a-592ca246b1c2.PNG)

[2021-08-16 03:54] SRV2606 commented on #61
I also faced this problem, the delay in animation doesnt works slowly as its shown in the demo of this repo.

My code:
  app:spb_animationStartDelay="10000"
  app:spb_animateToCurrentProgressState="true"
  app:spb_animationDuration="100000"

[2021-08-16 03:56] SRV2606 opened #65 "When changing state, Animation doesnt works slowly or with delay as shown in the demo of this github repo"
the delay in animation doesnt works slowly as its shown in the demo of this repo.

My code:
app:spb_animationStartDelay="10000"
app:spb_animateToCurrentProgressState="true"
app:spb_animationDuration="100000"

[2021-12-11 10:33] Berki2021 opened #66 "Is this project dead?"
This repo has over 1.4k stars and 228 forks and still, nothing is going on. If the owner of this project has no interest in this anymore, at least he/she should give a statement. Since this project is not uploaded to mavencentral (asked since may) etc. it will sooner or later be gone into the void.

I will take it into my own hands and upload this repo to maven.

[2022-01-17 20:19] egarciadev7 commented on #66
Hi @Berki2021 have you uploaded to mavenCentral? may you please share the link with me?, I really need my app work back again, tks

[2022-05-26 13:40] Mansourx commented on #25
need to use the same Lib for 7 states!

[2022-05-28 20:50] #25 closed

[2022-06-10 18:22] joelpou opened #67 "Unresolved reference: kofigyan"
Getting Unresolved reference: kofigyan after adding implementation to gradle.

[2022-06-14 20:05] #67 closed

[2022-06-27 05:28] atul-17 opened #68 "Failed to resolve the lib"
Hi KofiGyan

So been getting this Gradle error, can you help me with the reason as to why this is happening and also fix it.
Thank you

Failed to resolve: com.kofigyan.stateprogressbar:stateprogressbar:1.0.0

[2022-06-29 01:28] hambog00111 commented on #68
@atul-17 hey men just try to add  jcenter() on your settings.gradle to repositories and the implementation will run

[2022-06-29 01:31] hambog00111 opened #69 "fix the issues in this implementation"
if you all having issues by using this implementation just add jcenter() to repositories block in your gradle file and it will run.

[2022-06-30 06:58] PaoGon commented on #69
They also need to add this in their  `gradle.properties`:   `android.enableJetifier=true` to migrate it to AdnroidX

[2022-07-27 05:50] yoofyoof commented on #69
p.s.: it's the repositories block under settings.gradle file, not under build.gradle.

[2022-11-03 05:39] kavata9 commented on #59
was this updated ?

[2022-11-13 16:18] grostru opened #70 "Cómo podría cambiar el círculo de estado por sólo una especie de anillo sin número? O al menos quitar el número cuando el estado no es completado. Gracias"